.footer{
	font-size: 13px;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
h3{
	margin-bottom: 0px !important;
}
/*.col-4{
	padding-right: 0px !important;
	padding-left: 0px !important;
}*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255) !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

/*footer*/
.footer .footer_tittle{
	color: #FFF;
}
.footer_content p a{
	color: #C4C4C4FF !important;
}
.footer_content a{
		color: #C4C4C4FF !important;
}
.footer ul li a{
	color: #C4C4C4FF !important;
}
.footer_content ul li a{
	line-height: 2.5 !important;
}
/*footer*/

/*icon-page*/
.icon-social a{
	background: #D2D7D3;
	color: #222;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 4px;
	padding-top: 7px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
a.icon:before{
	font-family: "FontAwesome", sans-serif;
	color: #fff;
	font-size: 20px;
}
a.facebook:before{
	content: '\f09a';
}
a.twitter:before{
	content: '\f099';
}
a.gplus:before{
	content: '\f0d5';
}
.icon-search:before{
	font-family: FontAwesome;
	content: '\f002';
    transition: transform .2s;
}
.icon-search-scroll{
	color: #FFFFFFFF;
}
.icon-cart:before{
	font-family: FontAwesome;
	content: '\f07a';
	font-size: 25px;
}
.icon-cart-scroll{
	color: #FFFFFFFF;
}

.icon-signin:after{
	font-family: FontAwesome;
	content: '\f090';
}
.shopping-cart:before{
	font-family: FontAwesome;
	content: '\f290';
}
.icon-like:before{
	font-family: FontAwesome;
	content: '\f004';
}
.icon-compare:before{
	font-family: FontAwesome;
	content: '\f012';
}

a.facebook:hover{
	background-color: #4183d7;
	color: #fff;
	text-decoration: none;
}
a.twitter:hover{
	background-color: #19b5fe;
	color: #fff;
	text-decoration: none;
}
a.gplus:hover{
	background-color: #dd4b39;
	color: #fff;
	text-decoration: none;
}
.icon-search:hover{
	color: #000000FF;
	text-decoration: none;
	-ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}
.icon-search-scroll:hover{
	color: #FFFFFFFF;
	text-decoration: none;
	-ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}
.icon-cart:hover{
	color: #000000FF;
	text-decoration: none;
}
.icon-cart-scroll:hover{
	color: #FFFFFFFF;
	text-decoration: none;
}
/*icon-page*/


#follow_us{
	font-size: 16px;
}

/*carosel*/
.carousel-inner .carousel-item img{
	width: 100%;
	height: auto;
}
.carousel-caption1{
	font-family: 'Oswald';
	position: absolute;
  	top: 170px;
  	left: 5px;
  	z-index: 10;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	color: #fff;
  	text-align: center;
}
/*carosel*/

/*img-supplier*/
.dropdown-item .card a img{
	width: 100%;
	height: 150px;
}
/*img-supplier*/

/*card-product*/
.card-footer a.icon-like,
.card-footer a.icon-compare, 
.quickview a{
	opacity: 0;
}
div .owl-item:hover img{
	opacity: 0.5;
}
div .owl-item:hover a{
	opacity: 1;
	transition: 0.5s;
}
div .card:hover img{
	opacity: 0.5;
}
div .card:hover a{
	opacity: 1;
	transition: 0.5s;
}
.quickview{
	position: absolute;
	top: 0;
	right: 0;
}
/*card-product*/


/*compare*/

/*compare*/

/*nav-pills-sign-in*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #000000 !important;
}
/*nav-pills-sign-in*/

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #000000 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #000000 !important;
}
.form-inline,
.icon-sort-down{
	opacity: 0.8;
}
.icon-sort-down:before{
	margin-left: 5px;
	font-family: FontAwesome;
	content: '\f063';
}
.icon-sort-up:before{
	margin-left: 5px;
	font-family: FontAwesome;
	content: '\f062';
}
.icon-grid:before{
	margin-left: 5px;
	font-family: FontAwesome;
	content: '\f00a';
}
.icon-list:before{
	margin-left: 5px;
	font-family: FontAwesome;
	content: '\f03a';
}
a.icon-sort-down:hover{
	text-decoration: none;
}

/**/

#myModal-cart .modal-header{
	border-bottom: 0px;
}

/*image-item*/
.modal-body table tbody tr td img{
	width: 100px;
}
/*image-item*/

.sticky {
  position: fixed;
  top: 35%;
  right: 0;
  z-index: 1;
}
.sticky a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.wish{
	background-color: #E03D3A;
	color: white;
}
.cart{
	background-color: #3a79bd;
	color: white;
}
.compare{
	background-color: #3abd7e;
	color: white;
}
.wish:hover{
	background-color: white;
	color: #E03D3A ;
	text-decoration: none;
}
.cart:hover{
	background-color: white;
	color: #3a79bd ;
	text-decoration: none;
}
.compare:hover{
	background-color: white;
	color: #3abd7e ;
	text-decoration: none;
}

ul .dropdown-menu li:hover{
	background-color: #E0E0E0FF;
}

.services-ship{
	background-color: #E03D3A;
}
.services-ship:hover{
	background-color: #FFFFFFFF;
	border: 1px solid #E03D3A;
}
.services-check{
	background-color: #3a79bd;
}
.services-check:hover{
	background-color: #FFFFFFFF;
	border: 1px solid #3a79bd;
}
.services-save{
	background-color: #3abd7e;
}
.services-save:hover{
	background-color: #FFFFFFFF;
	border: 1px solid #3abd7e;
}


.notify-badge{
    position: absolute;
    background: #E62F18FF;
    height:3rem;
    top:-10px;
    left:-10px;
    width:3rem;
    text-align: center;
    line-height: 3rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
}
.sale_count {
    position: absolute;
    z-index: 8;
    display: inline-block;
    width: 75px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #E03D3A;
    color: #fff;
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
}
.sale_count .bf_ {
    position: relative;
    display: block;
}