<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FPT Stationary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  </style>

  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/component.css">

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
  <script type="text/javascript" src="js/ShoppingCart.js?123"></script>
  <script type="text/javascript" src="js/demo.js"></script>

  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.theme.default.min.css">
  <script type="text/javascript" src="css/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/ShrinkNavOnScroll.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ShrinkNavOnScroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/owl.carousel.min.js">
</head>
<body ng-app="myModule" ng-controller="myController">
  <!-- Navigation -->

    <div class="sticky">
        <a class="icon-like wish" href="#" title="Add to Wish List" data-toggle="modal" data-target="#myModal-signin"></a>

        <a class="icon-cart cart" href="#" data-toggle="modal" data-target="#myModal-cart"></a>

        <a class="icon-compare compare" href="compare.html" title="Add to Compare"></a>

    </div>

  <div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
      <div class="container">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
          <a class="navbar-brand" href="#">
            <strong>FPT STATIONARY</strong>
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav m-auto">
                <li class="nav-item">
                  <a href="index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    PRODUCTS
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="paper.html">Paper</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="writing.html">Writing</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="desk-organization.html">Desk Organization</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">Boxes & Storage</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">CALENDARS & PLANNERS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">EDUCATION & CRAFTS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">NOTEBOOKS & PADS</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-signin" href="#" data-toggle="modal" data-target="#myModal-signin">SIGN IN </a>
                </li>
              </ul>
          </div>
          <a href="#" class="icon-search" data-toggle="modal" data-target="#myModal"></a>
      </div>
  </div>
  <!-- Navigation -->


  <!-- The Modal search-->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Go</button> 
            </div>
          </div>
            </div>

          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal sign in-->
    <div class="modal" id="myModal-signin">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <ul class="nav nav-pills" role="tablist">
              <li class="nav-item m-auto">
                <a class="nav-link active" data-toggle="tab" href="#signin">SIGN IN</a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link" data-toggle="tab" href="#signup">SIGN UP</a>
              </li>
          </ul>

            <!-- Tab panes -->
          <div class="tab-content">
              <div id="signin" class="container tab-pane active"><br>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="mail" name="Email" placeholder="Username / Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                  <button type="submit" class="btn btn-dark btn-block">Login</button>
                  <a href="#" class="mt-5">Forgot Password?</a>
              </form>
                  
              </div>
              <div id="signup" class="container tab-pane fade"><br>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="usr" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="mail" name="Email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Confirm Password">
                  </div>
                  <button type="submit" class="btn btn-dark btn-block">REGISTER NOW</button>
              </form>
              </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  <!-- End Modal -->
  
  
    <div class="modal fade" id="myModal-cart">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
      
        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title icon-cart text-dark">   My Cart</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
        <!-- Modal body -->
            <div class="modal-body">
              <table class="table table-hover">
              <tbody ng-show="carts.length > 0">
                <tr ng-repeat="cart in carts">
                  <td><img ng-src="imgs/images/{{cart.image}}"></td>
                  <td class="pt-4">{{cart.name}}</td>
                  <td class="pt-4">{{cart.price | currency}}</td>
                  <td class="pt-3"><input class="form-control" type="number" min="1" ng-model="cart.qty"></td>
                  <td class="pt-4">{{cart.price*cart.qty | currency}}<span class="float-right" ng-click="removeItem($index)" style="cursor:pointer;">×</span></td>

                </tr>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td>{{ total() | currency}}</td>
                </tr>
              </tbody>
              <tbody ng-hide="carts.length > 0">
                <tr>
                  <td>Your cart is empty</td>
                </tr>
              </tbody>
            </table>
            </div>
        
        <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Checkout</button>
            </div>
        
          </div>
      </div>
    </div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal-view"  ng-repeat="product in products | filter: {name: 'Redi-Tag'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="row">
            <div class="col-lg-6 col-12">
              <img class="w-100" ng-href="" ng-src="imgs/images/Redi-Tag Cover.jpg">
            </div>
            <div class="col-lg-6 col-12">
              <div>
                <div class="row">
                  <h5 class="mx-4 d-block w-100">{{product.name}}</h5>
                  <div class="rating mx-4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <h3 class="text-danger mx-4">{{product.price | currency}}</h3>
                  <p class="text-info ml-auto mx-5">Availability: In stock</p>
                </div>
                <hr>
                <div class="row">
                  <ul class="mx-4 intro-product">
                    <li>4 x 6 inch ruled notes with tabs, 60 notes</li>
                    <li>Leave a note while you index</li>
                    <li>Special binding allows you to flip to the color you need while organizing</li>
                    <li>Write on, reposition and removes cleanly without sticky residue</li>
                    <li>Uses water based, opposed to chemical based adhesive</li>
                  </ul>
                </div>
                <hr>
                <div class="row">
                  <button class="btn btn-outline-dark mx-auto shopping-cart" title="Add to Cart" ng-click="addItem(product)"> ADD TO CART</button>
                  <a href="redi-tag.html" class="mx-auto"><button class="btn btn-outline-dark" > GO TO PRODUCT</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
 
 <div class="my-6">
    <div class="container">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Contact</li>
      </ul>

          <div>
          

    <div class="container alert alert-success" id="a11">
    <div class="container alert alert-success">
      <h1 class=" text-center ">Vision and Mission</h1>
      <p><h6>Welcome to FPT Stationary !</h6></p>
      <p>Starting as a small business in HANOI/VIETNAM/2013, we have big dreams. Our passion for  stationery, means that we provide our customers nothing but the highest quality of products, that are guaranteed to meet their needs and keep them satisfied!</p>
            <hr>
            <div class="row">
             
            <div class="col-6">
              <img src="http://cdn.nhanh.vn/cdn/store/26/art/article_1489997637_608.jpg" class=" w-100">
            </div>
            <div class="col-6 p-5">
              <h2>Our Story</h2>
              <p>
              From a small shop to set the year 2013 with three member of the first, after year build and major they are they are available on all ground country, same as the last team kín đáo. In the future we will the direction to the content, over the international flag and international quotes on the arena security field.
              </p>
            </div>
          </div>
          <hr>
                <div class="row">
        <div class="container">

          <div class="row">
            <div class="col-6 p-5">
              <h2>Team Member</h2>
              <p>
                Our company has a staff of hundreds of employees in stores spread across the country. Each member is a representative of us. They are always proud to be part of us.
              </p>
            </div> 
            <div class="col-6">
              <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/29684239_2243319885705282_4253502894423654046_n.jpg?_nc_cat=108&oh=427b79e7a8c2dd54a2ef9965263d6f86&oe=5C592CE0" class=" w-100">
            </div>
            
      </div>
    </div>
  </div>

        </div>

      </div>

<!-- Our member -->

    </div>
</div>
  
  <!-- footer -->
  <div class="footer">
    <div class="bg-dark">
      <div class="container py-5">

        <div class="row">
          <div class="col-md-3">
            <h6 class="footer_tittle mb-3">CONTACT INFOMATION</h6>
                <div class="footer_content text-white">
                    <p>
                      <i class="fa fa-home mr-3"></i> <a href="">No 8, Ton That Thuyet, Ha Noi</a></p>
                    <p>
                      <i class="fa fa-envelope mr-3"></i><a href="">info@example.com</a></p>
                    <p>
                      <i class="fa fa-phone mr-3"></i><a href="tel:+0123456788"> + 01 234 567 88</a></p>
                    <p>
                      <i class="fa fa-print mr-3"></i><a href="">+ 01 234 567 89</a></p>
                </div>        
          </div>

          <div class="col-md-9">
            
            <div class="row">
              
              <div class="col-md-4">
                <h6 class="footer_tittle">MY ACCOUNT</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Compare</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="footer_tittle">FPT STATIONARY</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="FeedBack.html">Feedback</a></li>
                    <li><a href="job.html">Job</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="footer_tittle">CUSTOMER SERVICES</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="term.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="#">Online Shopping</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
              <form class="w-50 m-auto">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">SUBSCRIBE</button>  
                   </div>
                </div>
              </form>
            </div>
        
        <hr class="bg-secondary">
        <div class="row text-white">
          <div class="col-lg-4 text-center">
            <div class="icon-social">
              <span id="follow_us">Follow Us </span>
              <a href="http://www.facebook.com" class="icon facebook"></a>
              <a href="http://www.twitter.com" class="icon twitter"></a>
              <a href="https://plus.google.com/discover?hl=vi" class="icon gplus"></a>
            </div>
          </div>
          <div class="col-lg-4 text-center text-uppercase text">
            © 2018 FPT Stationary. All Rights
          </div>
          <div class="col-lg-4 text-center">
            <img src="imgs/payment/payment-icon.png" alt="Payment">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
</body>
</html>