<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FPT Stationary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  </style>

  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/component.css">

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
  <script type="text/javascript" src="js/ShoppingCart.js?123"></script>
  <script type="text/javascript" src="js/demo.js"></script>

  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.theme.default.min.css">
  <script type="text/javascript" src="css/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/ShrinkNavOnScroll.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ShrinkNavOnScroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/owl.carousel.min.js">
</head>
<body ng-app="myModule" ng-controller="myController">
  <!-- Navigation -->

    <div class="sticky">
        <a class="icon-like wish" href="#" title="Add to Wish List" data-toggle="modal" data-target="#myModal-signin"></a>

        <a class="icon-cart cart" href="#" data-toggle="modal" data-target="#myModal-cart"></a>

        <a class="icon-compare compare" href="compare.html" title="Add to Compare"></a>

    </div>

  <div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
      <div class="container">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
          <a class="navbar-brand" href="#">
            <strong>FPT STATIONARY</strong>
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav m-auto">
                <li class="nav-item">
                  <a href="index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    PRODUCTS
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="paper.html">Paper</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="writing.html">Writing</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="desk-organization.html">Desk Organization</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">Boxes & Storage</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">CALENDARS & PLANNERS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">EDUCATION & CRAFTS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">NOTEBOOKS & PADS</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-signin" href="#" data-toggle="modal" data-target="#myModal-signin">SIGN IN </a>
                </li>
              </ul>
          </div>
          <a href="#" class="icon-search" data-toggle="modal" data-target="#myModal"></a>
      </div>
  </div>
  <!-- Navigation -->


  <!-- The Modal search-->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Go</button> 
            </div>
          </div>
            </div>

          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal sign in-->
    <div class="modal" id="myModal-signin">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item m-auto">
                  <a class="nav-link active" data-toggle="tab" href="#signin">SIGN IN</a>
                </li>
                <li class="nav-item m-auto">
                  <a class="nav-link" data-toggle="tab" href="#signup">SIGN UP</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div id="signin" class="container tab-pane active"><br>
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="mail" name="Email" placeholder="Username / Email Address">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                        <a href="#" class="mt-5">Forgot Password?</a>
                    </form>
                  </div>

                  <div id="signup" class="container tab-pane fade"><br>
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="usr" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" id="mail" name="Email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="pwd" name="password" placeholder="Confirm Password">
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">REGISTER NOW</button>
                    </form>
                  </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  <!-- End Modal -->
  
  
  <!-- The Modal cart-->
    <div class="modal fade" id="myModal-cart">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
      
        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title icon-cart text-dark">   My Cart</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
        <!-- Modal body -->
            <div class="modal-body">
              <table class="table table-hover">
              <tbody ng-show="carts.length > 0">
                <tr ng-repeat="cart in carts">
                  <td><img ng-src="imgs/images/{{cart.image}}"></td>
                  <td class="pt-4">{{cart.name}}</td>
                  <td class="pt-4">{{cart.price | currency}}</td>
                  <td class="pt-3"><input class="form-control" type="number" min="1" ng-model="cart.qty"></td>
                  <td class="pt-4">{{cart.price*cart.qty | currency}}<span class="float-right" ng-click="removeItem($index)" style="cursor:pointer;">×</span></td>

                </tr>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td>{{ total() | currency}}</td>
                </tr>
              </tbody>
              <tbody ng-hide="carts.length > 0">
                <tr>
                  <td>Your cart is empty</td>
                </tr>
              </tbody>
            </table>

            </div>
        
        <!-- Modal footer -->
            <div class="modal-footer">
              <a href="#checkout.html" type="button" class="btn btn-secondary">Checkout</a>
            </div>
        
          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal view-->
  <div class="modal fade" id="myModal-view"  ng-repeat="product in products | filter: {name: 'Redi-Tag'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="row">
            <div class="col-lg-6 col-12">
              <img class="w-100" ng-href="" ng-src="imgs/images/Redi-Tag Cover.jpg">
            </div>
            <div class="col-lg-6 col-12">
              <div>
                <div class="row">
                  <h5 class="mx-4 d-block w-100">{{product.name}}</h5>
                  <div class="rating mx-4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <h3 class="text-danger mx-4">{{product.price | currency}}</h3>
                  <p class="text-info ml-auto mx-5">Availability: In stock</p>
                </div>
                <hr>
                <div class="row">
                  <ul class="mx-4 intro-product">
                    <li>4 x 6 inch ruled notes with tabs, 60 notes</li>
                    <li>Leave a note while you index</li>
                    <li>Special binding allows you to flip to the color you need while organizing</li>
                    <li>Write on, reposition and removes cleanly without sticky residue</li>
                    <li>Uses water based, opposed to chemical based adhesive</li>
                  </ul>
                </div>
                <hr>
                <div class="row">
                  <button class="btn btn-outline-dark mx-auto shopping-cart" title="Add to Cart" ng-click="addItem(product)"> ADD TO CART</button>
                  <a href="redi-tag.html" class="mx-auto"><button class="btn btn-outline-dark" > GO TO PRODUCT</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End Modal -->


  <div class="container mt-6">
    <div class="row">
      <div class="col-xl-4 col-lg-12 py-4">
        <div class="services-ship p-3 clearfix rounded">
          <div class="float-left py-3">
            <img src="imgs/services/car_srv.png">
          </div>
          <div class="float-right py-3">
            <h5>FREE SHIPPING</h5>
            <span>On All Orders Of USD $99</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 py-4">
        <div class="services-check p-3 clearfix rounded">
          <div class="float-left py-3">
            <img src="imgs/services/check_srv.png">
          </div>
          <div class="float-right py-3">
            <h5>24/7 CUSTOMER SERVICE</h5>
            <span>Get Help When You Need It.</span>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 py-4">
        <div class="services-save p-3 clearfix rounded">
          <div class="float-left py-3">
            <img src="imgs/services/save_srv.png">
          </div>
          <div class="float-right py-3">
            <h5>100% MONEY BACK</h5>
            <span>2 Day Money Back Guarantee.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="py-5 text-center">
        <h2>Checkout</h2>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <h6 class="my-0">Redi-Tag</h6>
              </div>
              <span class="text-muted">$3.71</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <h6 class="my-0">Double A</h6>
              </div>
              <span class="text-muted">$15.99</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <h6 class="my-0">Dry Erase Markers</h6>
              </div>
              <span class="text-muted">$6.39</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Discount code</h6>
                <small>FPTStationary</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$21.09</strong>
            </li>
          </ul>

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Discount code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required="">
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" required="">
                  <option value="">Choose...</option>
                  <option>Viet Nam</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required="">
                  <option value="">Choose...</option>
                  <option>Ha Noi</option>
                  <option>TP. Ho Chi Minh</option>
                  <option>Da Nang</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required="">
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>

    </div>

    <div class="section-brand mt-5">
      <div class="container ">
        <div class="row">
          <div class="col-lg-12 col-xs-12 ">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                          <div class="owl-stage-outer">
                             <div class="owl-stage">
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/3M_BW_CA_logo._SR680,295_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/AT-A-GLANCE_us_office_logotiles_680x295._CB487521057_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/swingline_BW_CA_logo._CB486705712_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/XCM_1105301_Manual_670x250_1105301_us_officeproducts_brand_670x250_jpg_Shop_by_brand_Mead_LOGO._SR680,295_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/OOMA_us_office_logotiles_680x295.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/OXFORD_us_office_logotiles_680x295.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/papermate_BW_CA_logo._CB486705712_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/pilot_BW_CA_logo._CB486705713_.jpg"></a>
                                </div>
                                <div class="owl-item">
                                   <a href=""><img src="imgs/supplier/prsimacolor_BW_CA_logo._CB486705712_.jpg"></a>
                                </div>
                             </div>
                          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

	<script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                dots: false,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 2,
                  },
                  600: {
                    items: 3,
                  },
                  1000: {
                    items: 4,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })
  </script>
	<!-- main-product -->


  <!-- footer -->
  <div class="footer">
    <div class="bg-dark">
      <div class="container py-5">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h6 class="footer_tittle mb-3">CONTACT INFOMATION</h6>
                  <div class="footer_content text-white">
                    <p>
                      <i class="fa fa-home mr-3"></i> <a href="">No 8, Ton That Thuyet, Ha Noi</a></p>
                    <p>
                      <i class="fa fa-envelope mr-3"></i><a href="">info@example.com</a></p>
                    <p>
                      <i class="fa fa-phone mr-3"></i><a href="tel:+0123456788"> + 01 234 567 88</a></p>
                    <p>
                      <i class="fa fa-print mr-3"></i><a href="">+ 01 234 567 89</a></p>
                  </div>        
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">MY ACCOUNT</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Compare</a></li>
                  </ul>
                </div>
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">FPT STATIONARY</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="FeedBack.html">Feedback</a></li>
                    <li><a href="job.html">Job</a></li>
                  </ul>
                </div>
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">CUSTOMER SERVICES</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="term.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="#">Online Shopping</a></li>
                  </ul>
                </div>
          </div>
        </div>
        <div class="row">
              <form class="w-50 m-auto">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">SUBSCRIBE</button>  
                   </div>
                </div>
              </form>
        </div>
        
        <hr class="bg-secondary">
        <div class="row text-white">
          <div class="col-lg-4 text-center">
            <div class="icon-social">
              <span id="follow_us">Follow Us </span>
              <a href="http://www.facebook.com" class="icon facebook"></a>
              <a href="http://www.twitter.com" class="icon twitter"></a>
              <a href="https://plus.google.com/discover?hl=vi" class="icon gplus"></a>
            </div>
          </div>
          <div class="col-lg-4 text-center text-uppercase text">
            © 2018 FPT Stationary. All Rights
          </div>
          <div class="col-lg-4 text-center">
            <img src="imgs/payment/payment-icon.png" alt="Payment">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->

</body>
</html>