<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FPT Stationary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  </style>

  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/component.css">

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
  <script type="text/javascript" src="js/ShoppingCart.js?123"></script>
  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript" src="js/validate-form.js"></script>

  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.theme.default.min.css">
  <script type="text/javascript" src="css/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/ShrinkNavOnScroll.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ShrinkNavOnScroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/owl.carousel.min.js">
</head>
<body ng-app="myModule" ng-controller="myController">
  <!-- Navigation -->

    <div class="sticky">
        <a class="icon-like wish" href="wishLish.html" title="Add to Wish List"></a>

        <a class="icon-cart cart" href="#" data-toggle="modal" data-target="#myModal-cart"></a>

        <a class="icon-compare compare" href="compare.html" title="Add to Compare"></a>

    </div>

  <div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
      <div class="container">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
          <a class="navbar-brand" href="#">
            <strong>FPT STATIONARY</strong>
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav m-auto">
                <li class="d-none d-block d-lg-none">
                    <a href="#" class="icon-search" data-toggle="modal" data-target="#myModal"></a>
                </li>
                <li class="nav-item">
                  <a href="index.html" class="nav-link">HOME</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    PRODUCTS
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="paper.html">Paper</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="writing.html">Writing</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="desk-organization.html">Desk Organization</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">Boxes & Storage</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">CALENDARS & PLANNERS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">EDUCATION & CRAFTS</a>
                    </li>
                    <li>
                      <a class="dropdown-item disabled" href="#">NOTEBOOKS & PADS</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link icon-signin" href="#" data-toggle="modal" data-target="#myModal-signin">SIGN IN </a>
                </li>
              </ul>
          </div>
          <a href="#" class="icon-search d-none d-lg-block" data-toggle="modal" data-target="#myModal"></a>
      </div>
  </div>
  <!-- Navigation -->


  <!-- The Modal search-->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Go</button> 
            </div>
          </div>
            </div>

          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal sign in-->
    <div class="modal" id="myModal-signin">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item m-auto">
                  <a class="nav-link active" data-toggle="tab" href="#signin">SIGN IN</a>
                </li>
                <li class="nav-item m-auto">
                  <a class="nav-link" data-toggle="tab" href="#signup">SIGN UP</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div id="signin" class="container tab-pane active"><br>
                    <form name="form2" action="index.html" onsubmit="return signin()" method="post">
                        <div class="form-group">
                          <input type="text" class="form-control" name="Name" placeholder="Username / Email Address" required="">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" name="Password" placeholder="Password" required="">
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" class="custom-control-input" name="example1">
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                        <input type="submit" value="Login" name="Submit" class="btn btn-dark btn-block">
                        <a href="#" class="mt-5">Forgot Password?</a>
                    </form>
                  </div>

                  <div id="signup" class="container tab-pane fade"><br>
                    <form name="form1" action="index.html" onsubmit="return signup()" method="post">
                        <div class="form-group">
                          <input type="text" class="form-control" name="Name" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="EMail" placeholder="Email Address" required="">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" name="Password" placeholder="Password" required="">
                        </div>
                        <input type="submit" value="REGISTER NOW" name="Submit" class="btn btn-dark btn-block">  
                    </form>
                  </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  <!-- End Modal -->
  
  
  <!-- The Modal cart-->
    <div class="modal fade" id="myModal-cart">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
      
        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title icon-cart text-dark">   My Cart</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
        <!-- Modal body -->
            <div class="modal-body">
              <table class="table table-hover">
              <tbody ng-show="carts.length > 0">
                <tr ng-repeat="cart in carts">
                  <td><img ng-src="imgs/images/{{cart.image}}"></td>
                  <td class="pt-4">{{cart.name}}</td>
                  <td class="pt-4">{{cart.price | currency}}</td>
                  <td class="pt-3"><input class="form-control" type="number" min="1" ng-model="cart.qty"></td>
                  <td class="pt-4">{{cart.price*cart.qty | currency}}<span class="float-right" ng-click="removeItem($index)" style="cursor:pointer;">×</span></td>

                </tr>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td>{{ total() | currency}}</td>
                </tr>
              </tbody>
              <tbody ng-hide="carts.length > 0">
                <tr>
                  <td>Your cart is empty</td>
                </tr>
              </tbody>
            </table>

            </div>
        
        <!-- Modal footer -->
            <div class="modal-footer">
              <a href="checkout.html" class="btn btn-secondary">Checkout</a>
            </div>
        
          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal view-->
  <div class="modal fade" id="myModal-view"  ng-repeat="product in products | filter: {name: 'Redi-Tag'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="row">
            <div class="col-lg-6 col-12">
              <img class="w-100" ng-href="" ng-src="imgs/images/Redi-Tag Cover.jpg">
            </div>
            <div class="col-lg-6 col-12">
              <div>
                <div class="row">
                  <h5 class="mx-4 d-block w-100">{{product.name}}</h5>
                  <div class="rating mx-4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <h3 class="text-danger mx-4">{{product.price | currency}}</h3>
                  <p class="text-info ml-auto mx-5">Availability: In stock</p>
                </div>
                <hr>
                <div class="row">
                  <ul class="mx-4 intro-product">
                    <li>4 x 6 inch ruled notes with tabs, 60 notes</li>
                    <li>Leave a note while you index</li>
                    <li>Special binding allows you to flip to the color you need while organizing</li>
                    <li>Write on, reposition and removes cleanly without sticky residue</li>
                    <li>Uses water based, opposed to chemical based adhesive</li>
                  </ul>
                </div>
                <hr>
                <div class="row">
                  <button class="btn btn-outline-dark mx-auto shopping-cart" title="Add to Cart" ng-click="addItem(product)"> ADD TO CART</button>
                  <a href="redi-tag.html" class="mx-auto"><button class="btn btn-outline-dark" > GO TO PRODUCT</button></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- End Modal -->



  <div class="my-6">
    <div class="container">

      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Faqs</li>
      </ul>
      
      <div class="row my-4">
        <div class="col-sm-6">
          <img class="w-100" src="imgs/banner/banner_1n_1.jpg">
        </div>
        <div class="col-sm-6">
          <img class="w-100" src="imgs/banner/banner_1n_2.jpg">
        </div>
      </div>

      <div class="row">
        <div class="container">
          <h1 class="text-center">Faqs</h1>
          <div>
            <dl>
            <dt><h3 class="p-2">It Is A Long Established Fact That A Reader Will Be Distracted ?</h3></dt>
              <dd class="p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.it has a more-or-less normal distribution of letters, as opposed Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</dd>
              <dd class="p-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores</dd>
              <dd class="p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.it has a more-or-less normal distribution of letters, as opposed Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</dd>
            <dt><h3 class="p-2">Lorem Ipsum Is Simply Dummy Text Of The Printing ?</h3></dt>
              <dd class="p-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</dd>
              <dd class="p-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</dd>
              <dd class="p-4">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance</dd>
            <dt><h3 class="p-2">Sed Ut Perspiciatis Unde Omnis Iste Natus Error Sit ?</h3></dt>
              <dd class="p-4">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</dd>
              <dd class="p-4">first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour</dd>
            <dt><h3 class="p-2">At Vero Eos Et Accusamus Et Iusto Odio Dignissimos ?</h3></dt>
              <dd class="p-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</dd>
              <dd class="p-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</dd>
              <dd class="p-4">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance</dd>
            <dt><h3 class="p-2">On The Other Hand, We Denounce With ?</h3></dt>
              <dd class="p-4">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</dd>
              <dd class="p-4">first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour</dd>
            <dt><h3 class="p-2">Lorem Ipsum Dolor Sit Amet, Consectetur ?</h3></dt>
              <dd class="p-4">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</dd>
              <dd class="p-4">first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour</dd>
            <dt><h3 class="p-2">There Are Many Variations Of Passages ?</h3></dt>
              <dd class="p-4">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</dd>
              <dd class="p-4">first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour</dd>
          </dl>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  

  <!-- footer -->
  <div class="footer">
    <div class="bg-dark">
      <div class="container py-5">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h6 class="footer_tittle mb-3">CONTACT INFOMATION</h6>
                  <div class="footer_content text-white">
                    <p>
                      <i class="fa fa-home mr-3"></i> <a href="contact.html">No 8, Ton That Thuyet, Ha Noi</a></p>
                    <p>
                      <i class="fa fa-envelope mr-3"></i><a href="">info@example.com</a></p>
                    <p>
                      <i class="fa fa-phone mr-3"></i><a href="tel:+0123456788"> + 01 234 567 88</a></p>
                    <p>
                      <i class="fa fa-print mr-3"></i><a href="">+ 01 234 567 89</a></p>
                  </div>        
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">MY ACCOUNT</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="wishLish.html">Wishlist</a></li>
                    <li><a href="compare.html">Compare</a></li>
                  </ul>
                </div>
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">FPT STATIONARY</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="FeedBack.html">Feedback</a></li>
                    <li><a href="job.html">Job</a></li>
                  </ul>
                </div>
          </div>
          <div class="col-md-3 col-sm-6">
                <h6 class="footer_tittle">CUSTOMER SERVICES</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="term.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="#">Online Shopping</a></li>
                  </ul>
                </div>
          </div>
        </div>
        <div class="row">
              <form class="w-50 m-auto">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">SUBSCRIBE</button>  
                   </div>
                </div>
              </form>
        </div>
        
        <hr class="bg-secondary">
        <div class="row text-white">
          <div class="col-lg-4 text-center">
            <div class="icon-social">
              <span id="follow_us">Follow Us </span>
              <a href="http://www.facebook.com" class="icon facebook"></a>
              <a href="http://www.twitter.com" class="icon twitter"></a>
              <a href="https://plus.google.com/discover?hl=vi" class="icon gplus"></a>
            </div>
          </div>
          <div class="col-lg-4 text-center text-uppercase text">
            © 2018 FPT Stationary. All Rights
          </div>
          <div class="col-lg-4 text-center">
            <img src="imgs/payment/payment-icon.png" alt="Payment">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->

</body>
</html>