<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>FPT Stationary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  </style>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/component.css">
  <link rel="stylesheet" type="text/css" href="css/mega-menu.css">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
  <script type="text/javascript" src="js/ShoppingCart.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/assets/owl.theme.default.min.css">
  <script type="text/javascript" src="css/owlcarousel/owl.carousel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ShrinkNavOnScroll.css">
  <script type="text/javascript" src="js/ShrinkNavOnScroll.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/owlcarousel/owl.carousel.min.js">
  <link rel="stylesheet" type="text/css" href="./css/Feedback.css">
  <script type="text/javascript" src="./js/feedback.js"></script>

</head>
<body ng-app="myModule" ng-controller="myController">
  <!-- Navigation -->
  <div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-lg">
      <div class="container">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
                  <a class="navbar-brand" href="#">
                    <strong>FPT STATIONARY</strong>
                  </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav m-auto">
                  <li class="nav-item"><a href="index.html" class="nav-link">HOME</a></li>
                  <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">SUPPLIERS</a>
                      <ul class="dropdown-menu megamenu">
                          <li class="dropdown-item">
                              <div class="row">
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/3M_BW_CA_logo._SR680,295_.jpg">
                                      </a>
                                  </div>
                              </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/AT-A-GLANCE_us_office_logotiles_680x295._CB487521057_.jpg">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/OOMA_us_office_logotiles_680x295.jpg">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/OXFORD_us_office_logotiles_680x295.jpg">
                                      </a>
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/papermate_BW_CA_logo._CB486705712_.jpg">
                                      </a>
                                  </div>
                              </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/pilot_BW_CA_logo._CB486705713_.jpg">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/prsimacolor_BW_CA_logo._CB486705712_.jpg">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/sharpie_BW_CA_logo._CB486705712_.jpg">
                                      </a>
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/swingline_BW_CA_logo._CB486705712_.jpg">
                                      </a>
                                  </div>
                              </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/XCM_1105301_Manual_670x250_1105301_us_officeproducts_brand_670x250_jpg_Shop_by_brand_Mead_LOGO._SR680,295_.jpg">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                        <img src="imgs/supplier/hp.png">
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-6 col-xl-3 text-center">
                                    <div class="card">
                                      <a href="#" class="thumbnail">
                                          <img src="imgs/supplier/casio.jpg">
                                      </a>
                                  </div>
                                </div>
                              </div>
                          </li>
                  </ul>
                </li>
                <li class="dropdown menu-large nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">CATEGORIES</a>
                    <ul class="dropdown-menu megamenu">
                        <div class="row">
                          <li class="col-md-6 col-xl-3 dropdown-item">
                              <ul>
                                  <li class="dropdown-header"><a href="#paper"><h6>PAPER</h6></a></li>
                                  <li>
                                    <a href="#">Notebooks & Writing Pads
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">Copy & Multipurpose Paper
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">Cards & Card Stock
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#">Laser Printer Paper</a>
                                  </li>
                                  <li>
                                    <a href="#">Colored Paper</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li class="dropdown-header"><a href="#writing"><h6>WRITING</h6></a></li>
                                  <li>
                                    <a href="#">Pens & Refills</a>
                                  </li>
                                  <li>
                                    <a href="#">Pencils</a>
                                  </li>
                                  <li>
                                    <a href="#">Markers & Highlighters</a>
                                  </li>
                                  <li>
                                    <a href="#">Erasers & Correction Products</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="col-md-6 col-xl-3 dropdown-item">
                              <ul>
                                  <li class="dropdown-header"><a href="#desk-organization"><h6>DESK ORGANIZATION</h6></a></li>
                                  <li>
                                    <a href="#">Letter Trays & Stacking Supports</a>
                                  </li>
                                  <li>
                                    <a href="#">Drawer Organizers</a>
                                  </li>
                                  <li>
                                    <a href="#">Hanging Wall Files</a>
                                  </li>
                                  <li>
                                    <a href="#">File Folder Racks & Holders</a>
                                  </li>
                                  <li>
                                    <a href="#">Office Waste Bins</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li class="dropdown-header"><a href="#"><h6>BOXES & STORAGE</h6></a></li>
                                  <li>
                                    <a href="#">Storage File Boxes</a>
                                  </li>
                                  <li>
                                    <a href="#">Storage Crates</a>
                                  </li>
                                  <li>
                                    <a href="#">Filing Crates & Posting Tubs</a>
                                  </li>
                                  <li>
                                    <a href="#">Modular Storage Systems</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="col-md-6 col-xl-3 dropdown-item">
                              <ul>
                                  <li class="dropdown-header"><a href="#"><h6>CALENDARS & PLANNERS</h6></a></li>
                                  <li>
                                    <a href="#">Wall Calendars</a>
                                  </li>
                                  <li>
                                    <a href="#">Personal Organizers</a>
                                  </li>
                                  <li>
                                    <a href="#">Planners, Refills & Covers</a>
                                  </li>
                                  <li>
                                    <a href="#">Planning Boards</a>
                                  </li>
                                  <li>
                                    <a href="#">Planning Pads</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li class="dropdown-header"><a href="#"><h6>EDUCATION & CRAFTS</h6></a></li>
                                  <li>
                                    <a href="#">Math Materials</a>
                                  </li>
                                  <li>
                                    <a href="#">Arts & Crafts Supplies</a>
                                  </li>
                                  <li>
                                    <a href="#">Social Studies Materials</a>
                                  </li>
                                  <li>
                                    <a href="#">School Supply Storage Boxes</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="col-md-6 col-xl-3 dropdown-item">
                              <ul>
                                  <li class="dropdown-header"><a href="#"><h6>NOTEBOOKS & PADS</h6></a></li>
                                  <li>
                                    <a href="#">Hardcover Executive Notebooks</a>
                                  </li>
                                  <li>
                                    <a href="#">Self-Stick Notes</a>
                                  </li>
                                  <li>
                                    <a href="#">Wirebound Notebooks</a>
                                  </li>
                                  <li>
                                    <a href="#">Composition Notebooks</a>
                                  </li>
                                  <li>
                                    <a href="#">Subject Notebooks</a>
                                  </li>
                                  <li>
                                    <a href="#">Memo & Scratch Pads</a>
                                  </li>
                                  <li>
                                    <a href="#">Letter & Legal Ruled Pads</a>
                                  </li>
                                  <li>
                                    <a href="#">Steno Notebooks</a>
                                  </li>
                                  <li>
                                    <a href="#">Chart Tablets</a>
                                  </li>
                                  <li>
                                    <a href="#">Graph & Data Pads</a>
                                  </li>
                              </ul>
                          </li>
                      </div>
                    </ul>
                    
                </li>
                <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about-us.html">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link icon-signin" href="#" data-toggle="modal" data-target="#myModal-signin">SIGN IN </a>
            </li>
              </ul>

              <a href="#" class="icon-search" data-toggle="modal" data-target="#myModal"></a>
              <div class="cart">
                <a class="ml-4 icon-cart" href="#" data-toggle="modal" data-target="#myModal-cart"></a>
                <span class="num-order">{{totalQty()}}</span>
              </div>
          </div>
      </div>
  </div>
  <!-- Navigation -->


  <!-- The Modal search-->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Go</button> 
            </div>
          </div>
            </div>

          </div>
      </div>
    </div>
  <!-- End Modal -->

  <!-- The Modal sign in-->
    <div class="modal" id="myModal-signin">
      <div class="modal-dialog">
          <div class="modal-content">
          
          <!-- Modal body -->
            <div class="modal-body">
              <ul class="nav nav-pills" role="tablist">
              <li class="nav-item m-auto">
                <a class="nav-link active" data-toggle="tab" href="#signin">SIGN IN</a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link" data-toggle="tab" href="#signup">SIGN UP</a>
              </li>
          </ul>

            <!-- Tab panes -->
          <div class="tab-content">
              <div id="signin" class="container tab-pane active"><br>
                <form>
                  <div class="form-group">
                    <input type="email" class="form-control" id="mail" name="Email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                  <button type="submit" class="btn btn-dark btn-block">Login</button>
                  <a href="#" class="mt-5">Forgot Password?</a>
              </form>
                  
              </div>
              <div id="signup" class="container tab-pane fade"><br>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="usr" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="mail" name="Email" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Confirm Password">
                  </div>
                  <button type="submit" class="btn btn-dark btn-block">REGISTER NOW</button>
              </form>
              </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  <!-- End Modal -->
  
  
    <div class="modal fade" id="myModal-cart">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
      
        <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title icon-cart text-dark">   My Cart</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
        <!-- Modal body -->

            <div class="modal-body">
              <table class="table table-hover">
              <tbody ng-show="carts.length > 0">
                <tr ng-repeat="cart in carts">
                  <td><img ng-src="imgs/images/{{cart.image}}" style="width: 100px;"></td>
                  <td class="pt-4">{{cart.name}}</td>
                  <td class="pt-4">{{cart.price | currency}}</td>
                  <td class="pt-3"><input class="form-control" type="number" min="1" ng-model="cart.qty"></td>
                  <td class="pt-4">{{cart.price*cart.qty | currency}}<span class="float-right" ng-click="removeItem($index)" style="cursor:pointer;">×</span></td>

                </tr>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td>{{ total() | currency}}</td>
                </tr>
              </tbody>
              <tbody ng-hide="carts.length > 0">
                <tr>
                  <td>Your cart is empty</td>
                </tr>
              </tbody>
            </table>
            </div>
        
        <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        
          </div>
      </div>
    </div>

<!--feed back -->
 <div class="mt-6 container jumbotron alert alert-success">
  <h1 class="alert alert-success text-center">Feedback</h1>
    <form class="form-horizontal" action="#" method="post" name="formone" onsubmit="return feedback()">
    <!-- Name input-->
        <div class="form-group">
                <label class="" for="name" >Full Name</label>
                  <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
         </div> 
    <!-- Email input-->
            <div class="form-group">
              <label class="control-label" for="email">Your E-mail</label>
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
            </div>
    <!--  Phone
           <div class="form-group">
             <label class="control-label" for="phone">Your Phone</label>
               <input id="phone" name="phone" type="text" placeholder="Your Phone" class="form-control">
           </div> -->
    <!-- Message body -->
            <div class="form-group">
                
              <label class=" control-label" for="message">Your message</label>
              <div class="">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your feedback here..." rows="3"></textarea>
              </div>
            </div>
      <!-- Rating -->
              <div class="form-group text-center">
                  <h1 >Your rating</h1>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
              </div> 
      <!-- Form actions -->
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-md">Submit</button>
                <button type="reset" class="btn btn-default btn-md">Clear</button>
              </div>
        </form>
</div>
<!--feed back --> 
  <!-- footer -->
  <div class="footer">
    <div class="bg-dark">
      <div class="container py-5">

        <div class="row">
          <div class="col-md-3">
            <h6 class="footer_tittle mb-3">CONTACT INFOMATION</h6>
                <div class="footer_content text-white">
                    <p>
                      <i class="fa fa-home mr-3"></i> <a href="">No 8, Ton That Thuyet, Ha Noi</a></p>
                    <p>
                      <i class="fa fa-envelope mr-3"></i><a href="">info@example.com</a></p>
                    <p>
                      <i class="fa fa-phone mr-3"></i><a href="tel:+0123456788"> + 01 234 567 88</a></p>
                    <p>
                      <i class="fa fa-print mr-3"></i><a href="">+ 01 234 567 89</a></p>
                </div>        
          </div>

          <div class="col-md-9">
            
            <div class="row">
              
              <div class="col-md-4">
                <h6 class="footer_tittle">MY ACCOUNT</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Compare</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="footer_tittle">FPT STATIONARY</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="job.html">Job</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="footer_tittle">CUSTOMER SERVICES</h6>
                <div class="footer_content">
                  <ul>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="term.html">Terms & Conditions</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="#">Online Shopping</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
              <form class="w-50 m-auto">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">SUBSCRIBE</button>  
                   </div>
                </div>
              </form>
            </div>
        
        <hr class="bg-secondary">
        <div class="row text-white">
          <div class="col-lg-4 text-center">
            <div class="icon-social">
              <span id="follow_us">Follow Us </span>
              <a href="http://www.facebook.com" class="icon facebook"></a>
              <a href="http://www.twitter.com" class="icon twitter"></a>
              <a href="https://plus.google.com/discover?hl=vi" class="icon gplus"></a>
            </div>
          </div>
          <div class="col-lg-4 text-center text-uppercase text">
            © 2018 FPT Stationary. All Rights
          </div>
          <div class="col-lg-4 text-center">
            <img src="imgs/payment/payment-icon.png" alt="Payment">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
</body>
</html>